/*.App-header {
	background-color: #111111;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}
*/

/*animation: colorchange 50s;  animation-name followed by duration in seconds*/
/* you could also use milliseconds (ms) or something like 2.5s */
/*-webkit-animation: colorchange 50s; */
