body,
div {
	border: 0;
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
	background: transparent;
	width: 100%;
	height: 100%;
}

body {
	background-color: #121212;
	color: #fff;
	width: 100%;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
