html,
body {
	-webkit-font-smoothing: antialiased;
	background: #1b1b1b;
	border: 0;
	color: rgba(255, 255, 255, 1);
	font-size: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	width: 100%;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
